svg{
	fill:none;
	stroke:black;
	stroke-width:5;
}
#dish
{
	stroke-width:3;
}
.input{
	stroke:green;
}
.output{
	stroke:red;
}
.input_bezier{
	stroke-width:2;
	stroke:lightgreen;
}
.output_bezier{
	stroke-width:2;
	stroke:lightpink;
}
.Line{
	marker-end:url(#head);
}
