svg{
	fill:none;
	stroke:black;
	stroke-width:5;
}
#dish
{
	stroke-width:3;
}
.input:not(.bezier){
	stroke:green;
}
.output:not(.bezier){
	stroke:red;
}
.input.bezier{
	stroke-width:2;
	stroke:lightgreen;
}
.output.bezier{
	stroke-width:2;
	stroke:lightpink;
}
.Line{
	marker-end:url(#head);
}
